{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "bracketSpacing": true
      }
    }
  ]
}
